.calendar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .calendar-day {
    padding: 10px;;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;

    &.active {
      background-color: #ddd;
    }

    &:hover {
      background-color: #ddd;
    }

    .calendar-day__numb {
      font-size: 3rem;
      font-weight: 600;
    }
    .calendar-day__text {
      font-size: 1.5rem;
    }
    .calendar-day__month {
      font-size: 1.5rem;
    }
  }
}
