<div class="calendar">
  <div
    *ngFor="let item of list"
    class="calendar-day"
    [class.active]="item.date === selectedDate"
    (click)="selectDate(item.date)"
  >
    <div class="calendar-day__numb">
      {{item.date  | date:'d'}}
      <span class="calendar-day__text"> {{item.date  | date:'E'}}</span>
    </div>
    <div class="calendar-day__month">
      {{item.date  | date:'MMMM'}}
    </div>
  </div>
</div>
