.hall-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: center;
}

.seat {
  background-color: #999999;
  padding: 15px;
  cursor: pointer;
  margin-right: 5px;
  &::before {
    content: " ";
  }
  &.blocked {
    background-color: #000000;
    cursor: not-allowed;
  }
}

.session-times {
  button {
    margin-right: .5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}


.archive .seat {
    background-color: red !important;
    cursor: not-allowed;
}
