<div class="card" style="margin-bottom: 20px">

  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <img class="card-img-top" src="assets/poster.jpg" alt="Card image cap">
      </div>
      <div class="col-9">
        <h5 class="card-title">{{film.name}}</h5>
        <p class="card-text">
          {{film.description}}
        </p>
      </div>
    </div>
  </div>

  <div class="card-body session-times text-right">
    <button type="button" class="btn btn-outline-info"
            *ngFor="let time of film.sessions"
            [class.active]="time === selectedTime"
            (click)="selectSessionTime(time)">
      {{time.sessionTime}}
    </button>
  </div>

  <div class="card-body schedule" *ngIf="selectedTime" [class.archive]="isArchive">
    <div *ngFor="let row of selectedTime.schedule" class="hall-row">
      <div *ngFor="let seat of row" class="seat" (click)="selectPlace(seat)" [class.blocked]="!seat.isFree"></div>
    </div>
  </div>
</div>
