<div class="container content">

  <app-header
    [list]="dateList"
    [selectedDate]="selectedDate"
    (selectDateEvent)="selectDate($event)"
  ></app-header>

  <hr>

  <ng-container *ngIf="(filmList$ | async).length">
    <app-movie-session
      *ngFor="let film of filmList$ | async"
      [film]="film"
      (selectPlaceEvent)="selectPlace($event)"
    ></app-movie-session>
  </ng-container>

</div>
